
/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/*base*/
* {margin:0; padding:0; box-sizing: border-box; font-size:100%; font-family: "Roboto", sans-serif;}

body {
	width:100vw; 
	height: 100vh; 
	display:flex; 
	align-items:center; 
	justify-content:center;
	background: rgba(0, 110, 255, 0.2);
}


/* main */
#appContainer {
	width: 350px;
	height: 500px;
	border-radius:10px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	box-shadow: 0 0 55px rgba(0, 0, 20, 0.3);
	background: rgb(255,255,255);
}


/* header */
header {
	padding: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

header #containerIcon {
	width:50px;
	height:50px;
	background: rgba(0, 110, 255, 0.2);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	border:2px solid white;
	box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

header #containerIcon #icon {
	width: 25px;
	height: 25px;
	color: rgba(0, 110, 255, 0.8);
}

h1 {
	text-align: center;
	font-size: 2rem;
	padding: 10px;
	position: relative;
}

h1 span {
	color: rgb(0, 110, 255);
}

h1::before {
	content:"";
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translate(-50%, -50%);
	width: 150px;
	height: 1px;
	background:rgba(0,0,0,0.3);
}

h1::after {
	content: "";
	position: absolute;
	bottom: -22px;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 4px;
	height: 4px;
	background: rgba(0, 110, 255, 0.8);
	border-radius: 50%;
	border: 10px solid white;
}


/* Auth Screen */

/*autentificação (duplo container, escondidos pelo hidden do pai e movimentados pelo js) */
#authScreen {
	display: flex;
	width: 200%;
	height: 100%;
	transition: all 0.8s ease;
	background: rgba(0,0,0,0.02);
}


/* default for containers */
.authContentBox {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.authContentBox h2 {
	font-size: 1.3rem;
	padding: 20px;
	margin-top: 20px;
}

.authForm {
	display: flex;
	flex-direction: column;
	gap:15px;
	width: 80%;
}

.formInput {
	font-size: 0.9rem;
	padding: 8px;
	border-radius: 3px;
	border: 1px solid black;
	width:100%;
}

.formInput:focus {
	outline: none;	
}

.authButton {
	background: rgba(0, 110, 255, 0.5);
	border:none;
	padding:8px;
	border-radius:5px;
	color:white;
	font-size: 0.9rem;
}

.authButton:hover {
	cursor:pointer;
	background: rgb(4, 90, 204);
}



/* tab switcher */

.tabSwitcherContainer {
	margin-top: 20px;
}

.tabSwitcherButton {
	background: none;
	border: none;
	color: rgba(0, 110, 255, 0.8);
}

.tabSwitcherButton:hover{
	color:rgb(4, 90, 204);
	text-decoration: underline;
	cursor: pointer;
}




/*task screen*/
#taskScreen {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	transition: all 0.8s ease;
	background: rgba(0,0,0,0.02);
}


/*task tab*/
#taskTabContainer{
	width: 100%;
	border-radius: 5px;
	display: flex;
	justify-content: center;
}

#taskTabWrapper {
	width: 95%;
	display: flex;
	border-radius: 5px;
	overflow: hidden;
}

.taskTab {
	width: 50%;
	height: 35px;
	display: flex;
	justify-content: center;
	border:1px solid rgba(0,0,0,0.1);
}

.taskTab button {
	background: none;
	border: none;
	width: 100%;
	cursor: pointer;
	font-size: 0.8rem;
	font-weight: bold;
	color:rgba(0,0,0,0.5);
	display: flex;
	gap:5px;
	justify-content: center;
	align-items: center;
}

.taskTab button:hover {
	background: rgba(0,0,0,0.05);
}

.activeTab {
	background: rgba(0, 110, 255, 0.05);
	color:rgba(0, 110, 255, 0.15);
	border-bottom: 3px solid rgba(0, 110, 255, 0.5);
}

.activeTab button {
	color:rgba(0, 110, 255);
	width: 100%;
	height: 100%;
}

.taskCount {
	width: 20px;
	height: 18px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	font-size: 0.7rem;
	background: rgba(0,0,0,0.05);
}

.activeTab .taskCount {
	background: rgba(0, 110, 255, 0.1);
}



/*task container*/
#taskContainer {
	width: 100%;
	height: 75%;
	display: flex;
	flex-direction: column;
	gap:20px;
	padding: 15px 10px;
	overflow: auto;
}


/*task box*/
.taskBox {
	display: flex;
	gap:15px;
	justify-content: center;
	box-shadow: 0 1px 4px rgba(0,0,0,0.1);
	padding: 15px;
	border-radius: 5px;
}

.taskBox input, .taskBox button {
	background: none;
	border: none;
	outline: none;
	font-size: 0.9rem;	
}

.taskBox input:disabled, .taskBox input::placeholder {
	color: black;
	opacity: 1;
}

.inputTask {
	width: 100%;
}



/*
.checkboxTask {
  appearance: none;
  -webkit-appearance: none;
}
*/


/*add taks area*/
#addTaskContainer {
	padding: 20px 15px;
	display: flex;
	gap:10px;
	background: rgba(0, 110, 255, 0.01);
	border-top:1px solid rgba(0,0,0,0.05);
}

#newTaskInput {
	width: 100%;
	padding: 7px 10px;
	border-radius:5px;
	border:none;
	box-shadow: 0 0 4px rgba(0,0,0,0.2);
	font-size: 0.8rem;
	color:gray;
}

#newTaskInput:focus {
	outline: none;
}

#newTaskButton {
	border:none;
	background: none;
	cursor: pointer;
}

#newTaskButton {
	background: rgba(0, 110, 255, 0.9);
	color:white;
	width: 45px;
	height: 32px;
	transition: all 0.5s ease;
	border-radius: 3px;
}

#newTaskButton:hover {
	background:rgba(4, 90, 204, 0.8);
}




/*js*/
.moveAuthScreen {
	transform: translate(-50%, 0);
}

.hidden {
	display:none !important;
}



